@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#top-header {
    background-color: $brand_primary;
    padding: 5px 0;
    span {
        color: $text_color_primary;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 400;
        padding-left: 10%;
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 70px;
        margin: 0;
        li {
            position: relative;
        }
        a {
            color: $text_color_secondary;
            font-size: 1.1em;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 10px;
        }
    }
    input {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-radius: 0 !important;
        border-bottom: 3px solid $brand_primary !important;
    }
    .active {
        color: $brand_primary;
            font-weight: 600;
    }
    .active-bar {
        width: 65%;
        height: 8px;
        background-color: $brand_primary;
        position: absolute;
        top: 275%;
        left: 18%;
    }
}


#jumbo {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 50vh;
}

#current-series {
    background-color: $brand_secondary;
    padding-bottom: 30px;
    #tag-series {
        display: inline-block;
        color: $text_color_primary;
        font-size: 1.9em;
        font-weight: 600;
        background-color: $brand_primary;
        text-transform: uppercase;
        padding: 10px 30px;
        transform: translateY(-50%);
    }
    h2 {
        font-size: 1em;
        color: $text_color_primary;
        text-transform: uppercase;
        margin: 0;
        padding-top: 20px;
    }
    img {
        display: block;
        width: 100%;
    }
    .overflow-hidden {
        height: 200px;
        width: 100%;
    }
    button {
        text-transform: uppercase;
        color: $text_color_primary;
        background-color: $brand_primary;
        padding: 10px 70px;
        border: 0;
        font-size: 0.85em;
        font-weight: 600;
    }
}

#options {
    background-color: $brand_primary;
    .opt {
        width: 50px;
        padding: 50px 0;
    }
    h3 {
        color: $text_color_primary;
        font-size: 1em;
        text-transform: uppercase;
        margin: 0;
        padding: 0 20px;
    }
}

#jumbo_2 {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0 20px 0;
    overflow: hidden;
    h3 {
        color: $text_color_primary;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            color: rgb(140, 140, 140);
            text-transform: capitalize;
            font-size: 0.8em;
        }
    }
    #rights {
        font-size: 0.7em;
        color: rgb(140, 140, 140);
        padding: 20px 0;
        a {
            text-decoration: none;
            color: $brand_primary;
        }
    }
    .col-5 img {
        transform: scale(1.6);
    }
}

footer {
    background-color: $brand_tertiary;
    padding: 30px 0;
    button {
        border: 2px solid $brand_primary;
        background-color: transparent;
        color: $text_color_primary;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 700;
            padding-left: 20px;

        }
    }
}