@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#top-header {
    background-color: $brand_primary;
    padding: 5px 0;
    span {
        color: $text_color_primary;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 10%;
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 70px;
        margin: 0;
        a {
            color: $text_color_secondary;
            font-size: 1.1em;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 10px;
        }
    }
    input {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-radius: 0 !important;
        border-bottom: 3px solid $brand_primary !important;
    }
}

#jumbo {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 50vh;
}
#current-series {
    background-color: $brand_secondary;
    #tag-series {
        display: inline-block;
        color: $text_color_primary;
        font-size: 1.9em;
        font-weight: 600;
        background-color: $brand_primary;
        text-transform: uppercase;
        padding: 10px 30px;
        transform: translateY(-50%);
    }
    h2 {
        font-size: 1em;
        color: $text_color_primary;
        text-transform: uppercase;
        margin: 0;
        padding-top: 20px;
    }
    img {
        display: block;
        width: 100%;
    }
    .overflow-hidden {
        height: 200px;
        width: 100%;
    }
}